# Visual Studio 2022
.vs/
*.sln.opt
*.suo
*.user
*.userosscache
*.VC.db
*.opendb
*.VC.opendb
*.sdf
*.cache
*.obj
*.pdb
*.orig
*.log
*.ipch/
*.aps
*.ncb
*.resource
*.resources
*.tlog
*.trx
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj
*.lib
*.exp
*.ilk
*.aps
*.bsc
*.sbr
*.res
*.pch
*.idb
*.opt
*.pdb
*.tlb
*.tlh
*.tli
*.tmp
*.o
*.lo
*.la
*.pyc
*.pyo
*.swp
*.bak
*.com
*.class
*.dll
*.exe
*.o
*.so
*.a
*.lib
*.out
*.exe
*.dll
*.obj
*.pdb
*.lib
*.exp
*.com
*.class
*.jar
*.pyc
*.pyo
*.swp
*.bak
*.zip
*.tar
*.gz
*.rar
*.7z
*.tmp
*.temp
*.scc
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.user
*.filters
*.mak
*.opt
*.err
*.dep
*.tlh
*.tli
*.bak
*.rc
*.rsc
*.h
*.cpp
*.c
*.cc
*.cxx
*.mm
*.m
*.xib
*.storyboard
*.nib
*.pbxproj
*.xcscheme
*.ipa
*.xcarchive
*.dsym
*.app
*.playground
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace
*.build
*.dSYM
*.lock
*.xcodeproj
*.xcproj
*.xctest
*.xcuserstate
*.nib
*.gcno
*.gcda
*.gch
*.xctest
*.dSYM
*.ipch
*.log
*.orig
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.tmp
*.trx
*.user
*.vcdiff
*.vsp
*.vspscc
*.vssscc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcuserstate
*.sln.suo
*.sln.docstates
*.builds
*.nuget.targets
*.nuget.props
*.rsp
*.log
*.vs
*.orig
*.obj
*.pdb
*.user
*.log
*.ipch
*.aps
*.ncb
*.resources
*.suo
*.sdf
*.cache
*.user
*.vspscc
*.vssscc
*.mak
*.opt
*.err
*.dep
*.tlh
*.tli
*.bak
*.rc
*.rsc
*.h
*.cpp
*.c
*.cc
*.cxx
*.mm
*.m
*.xib
*.storyboard
*.nib
*.pbxproj
*.xcscheme
*.ipa
*.xcarchive
*.dsym
*.app
*.playground
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace
*.build
*.dSYM
*.lock
*.xcodeproj
*.xcproj
*.xctest
*.xcuserstate
*.nib
*.gcno
*.gcda
*.gch
*.xctest
*.dSYM
*.ipch
*.log
*.orig
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.tmp
*.trx
*.user
*.vcdiff
*.vsp
*.vspscc
*.vssscc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcuserstate
*.sln.suo
*.sln.docstates
*.builds
*.nuget.targets
*.nuget.props
*.rsp
*.log
bin/
obj/
*.db
